{% extends 'base.html.twig' %}

{% block title %}liste des stagiaires
{% endblock %}

{% block body %}
	<h1>liste des stagiaires</h1>
	{% if stagiaires %}

		{% for stagiaire in stagiaires %}
			stagiaire :
			{{ stagiaire}}<br>
			 <a class="btn btn-danger" href="{{path('delete_stagiaire',{'id':stagiaire.id}) }}">delete</a> <br>
			{% if stagiaire.sessions%}
				{% for session in stagiaire.sessions %}
					les sessions :<a href="{{path('show_session',{'id':session.id})}}">{{session}}</a>
					
					formateur :{{session.formateur}}
					date de début :{{ session.dateDebut | date('d-m-y')}}date de fin :{{ session.dateFin | date('d-m-y')}}
					<br>
				{% endfor %}
			{% else %}
				<p>pas de session pour ce stagiaire</p><br>

			{% endif %}

		{% endfor %}
	{% else %}
		<p>Pas de stagiaire à l'instant</p>
	{% endif %}
	<a href="{{path('add_stagiaire')}}">add stagiaire</a>
	
  
{% endblock %}
