{% extends 'base.html.twig' %}

{% block title %}liste des sessions
{% endblock %}

{% block body %}
	{% if sessions %}

		{% for session in sessions %}
			<p>
				titre :
				{{ session}}<br>
				formateur :
				{{ session.formateur }}<br>
				nbr :
				{{session.getNbrPlacesDisponibles()}}<br>
				{#autre méthode pour nombre de place dispo#}
				nombre de place total :
				{{ session.nbrPlaces}}<br>
				{% set i = 0 %}
				{% if session.stagiaires %}
					<table>
						<tr>
							{% for stagiaire in session.stagiaires %}
								{% set i = i + 1 %}
								<td>{{stagiaire}}</td>
							{% endfor %}
						</tr>
						<tr></tr>
					</table>
				{% endif %}
				nombre de place disponible :
				{{ session.nbrPlaces -i }}
				<br>


				date de début :
				{{ session.dateDebut | date('d-m-y')}}
				date de fin :
				{{ session.dateFin | date('d-m-y')}}
			</p>
		{% endfor %}
	{% else %}
		<p>Pas de sessions à l'instant</p>
	{% endif %}
{% endblock %}
